.wp-block.wp-block-gb-block-posts {
	& > ul {
		list-style: none;
		padding-left: 0;
	}
	.gb-post-pagination {
		display: grid;
		grid-template-columns: auto auto auto;
		text-align: center;
		.prev {
			justify-self: end;
		}
		.next {
			justify-self: start;
		}
	}
}